.body {
    background-color:#28322c;
}

#title{
    color:forestgreen;
	text-align: center;
    font-family: Cooper Black;
    font-size: large;
}
#statement{
	color:forestgreen;
	font-family: Cooper Black;
	font-size: small;
	margin-bottom: 2.5rem;
}
span {
	display: block;
    text-decoration: none;
	text-align: center;
    color: darkgreen;
    
    font-family: Cooper Black;
    cursor: pointer;
}

.toggle-label::before {
    background-color: #33722a;
}


