
.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    margin-left: 20rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.toggle-input {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 12.5px;
    cursor: pointer;
}

.toggle-input:checked + .toggle-label {
    background-color:darkseagreen; /* �л�Ϊѡ��״̬ʱ����ɫ */
}

.toggle-label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label::before {
    transform: translate(20px, -50%);
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}